<!--The content below is only a placeholder and can be replaced.-->
<p class="app-title">{{title}}</p>

<div class="address-book-wrapper">
  
  <div class="contact-list-wrapper">
    <li class="contact-list" *ngFor = "let i of contacts">
      <div class="contact-wrapper">
        <a>{{i}}</a>
      </div>
    </li>
  </div>

  <div class="contact-list-viewer-wrapper">
    <input type="text" name="firstName" placeholder="First name..." formcontrolname="firstName"/>
    <p>First name is : {{firstName}}</p>
  </div>

</div>